*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
/* -------------------------------------------------- */
.header-section{
    background-color: rgb(124, 122, 122);
    margin-bottom: 40px;

}
.header-sub{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.half-width{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0px;
}
.banner-text{
    align-items: center;
    justify-content: center;
    justify-items: center;
}

#banner-title{
    width: 485px;
    height: 230px;
    color: #ffffff;
    font-size: 64px;
    line-height: 80px;
}
button{
    width: 230px;
    margin-top: 30px;
    font-size: 20px;
    background: #E02C6D;
    text-decoration: none;
    color: #ffffff;
    border: 0px;
    padding: 15px 0px;


    /* transition */
    transition: width 1s ,transform 2s;

    
}
button:hover{
    width: 300px;

}


.fa-arrow-right{
    padding-left: 10px;
    font-size: 20px;
}

#football-banner{
    width: 556px;
    height: 438px;
    transition: 2s ,transform 2s ;
}
#football-banner:hover{
    transform: scale(1.2);
   
}




/*-------------------------
          player section
---------------------------- */


.container{

}
.top-12{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 40px;
    text-shadow: 5px 5px 15px rgb(29, 71, 71) ;
}
.top-players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:60px;
    justify-items: center;

}
.player{
  height: 474px;
  width: 330px;
  background-color: #ffffff;
  box-shadow:  0px 0px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;

}
.player img, article{
    height: 256px;
    width: 300px;
    margin: 15px;
}
article > h1{
    color: #18191F;
    font-weight: 700;
    font-size: 28px;
    line-height: 20px;
    margin-top: -7px;
}
article > p{
    color:gray;
    font-size: 12px;
    margin-top: 15px;
}

/* End The top player section */

/* Update----------------------- */
.football-update{
    margin-top: 50px;
    background-color: rgb(89, 199, 199);
    width: 100%;
    padding-bottom: 20px;
}
.football-update > h1{
    padding-top:15px;
    text-align: center;
    font-size: 30px;
    color: rgb(235, 236, 236) ; 
    font-weight: 800;   
    text-shadow: 10px 10px 20px black;
}

.update-news{
    padding-top: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);


}
.update-news > article{
    margin-top: -15px;
}
.news, .visit-site{
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;

}
#live{
    width: 400px;
    height: auto;
    border-radius: 15px;
    align-items: center;
}

.live-site .live-text{
    font-size: 20px;
}
span{
    color: red;
    opacity: .8;
}
.live-site > p{
    font-size: 16px;
}
.live-site >p >a{
    padding-left: 15px;
    text-decoration: none;
    color: red;
}


/*----------------------------------
             footer section
----------------------------  */
footer{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.footer-section{

    align-items: center;
}
.football-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.football-logo img{

    width: 400px;
    height: 110px;
    
}
.icon{
    text-align: center;
    padding-bottom: 10px;
}
.icon > a >i {
    padding-right: 10px;
}
.copy-right{
    text-align: center;
}





/*----------------------------------
          Responsive Layout
------------------------------------- */

@media only screen and (max-width: 767px) {

    .header-sub{
        grid-template-columns: repeat(1,1fr);
    }

    .top-players{
        grid-template-columns: repeat(1,1fr);
    }
    .update-news{
        grid-template-columns: repeat(1, 1fr);
    }
    .update-news article{
        margin-bottom: 50px;
    }
}

/* Tablet Mode -------------------------- */

@media only screen and (min-width: 767px) and (max-width: 1023px) {

    .header-sub{
        grid-template-columns: repeat(1,1fr);
    }

    .top-players{
        grid-template-columns: repeat(2,1fr);
    }
    .update-news{
        grid-template-columns: repeat(1, 1fr);
    }
    .update-news article{
        margin-bottom: 50px;
    }
}
